<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form action="/result" method="get">
        <label for="nomeProdotto" class="form-label">Nome del prodotto:</label>
    <input type="text" class="form-control" id="nomeProdotto" placeholder="Inserisci il nome del prodotto" name="nomeProdotto">
    <input type="submit" value="ricerca">
    </form>
</body>
</html>